<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div *ngIf="action == 'Delete'; else elseContinentTemplate">
        Are you sure to delete <b>{{localData.name}}</b>? This action will also delete
        all countries from this continent.
    </div>
    <ng-template #elseContinentTemplate>
        <mat-form-field>
            <mat-label>Continents</mat-label>
            <mat-select [(ngModel)]="localData.name" (selectionChange)="onContinentChange($event)">
                <mat-option *ngFor="let continent of dropdownContinents" [value]="continent.name">
                    {{continent.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <input placeholder="Code" matInput  [(ngModel)]="localData.code" [readonly]="true">
        </mat-form-field>
    </ng-template>

</div>
<div>
    {{ errorMessage }}
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>