<!-- dialog-box.component.html -->
<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <div *ngIf="action == 'Delete'; else elseCountryTemplate">
        Are you sure to delete <b>{{localData.name}}</b>?
    </div>
    <ng-template #elseCountryTemplate>
        <mat-form-field>
            <mat-label>Continents</mat-label>
            <mat-select [(ngModel)]="localData.continentName" (selectionChange)="onContinentChange($event)" [disabled]="action === 'Update'">
                <mat-option *ngFor="let continent of continentsDb" [value]="continent.name">
                    {{continent.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>Countries</mat-label>
            <mat-select [(ngModel)]="localData.name" (selectionChange)="onCountryChange($event)" [disabled]="action === 'Update'">
                <mat-option *ngFor="let country of dropdownCountries" [value]="country.name">
                    {{country.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <mat-form-field>
            <input placeholder="Country code" matInput [(ngModel)]="localData.code" [disabled]="true">
        </mat-form-field>

        <br>
        <mat-form-field>
            <input placeholder="Phone" matInput [(ngModel)]="localData.phone">
        </mat-form-field>
        
        <br>
        <mat-form-field>
            <input placeholder="Capital" matInput [(ngModel)]="localData.capital">
        </mat-form-field>

        <br>
        <mat-form-field>
            <input placeholder="Currency" matInput [(ngModel)]="localData.currency">
        </mat-form-field>

        <br>
        <mat-form-field>
            <input placeholder="Languages" matInput [(ngModel)]="localData.languages">
        </mat-form-field>
    </ng-template>
</div>
<div>
    {{ errorMessage }}
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()" mat-flat-button color="primary">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>
