<div class="container text-center">

    <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button>

    <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" style="width:100%;">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element;"> {{ element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="continent">
            <th mat-header-cell *matHeaderCellDef> Continent </th>
            <td mat-cell *matCellDef="let element"> {{element.continentName}} </td>
        </ng-container>

        <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef> Capital </th>
            <td mat-cell *matCellDef="let element"> {{element.capital}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="currency">
            <th mat-header-cell *matHeaderCellDef> Currency </th>
            <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>

        <ng-container matColumnDef="languages">
            <th mat-header-cell *matHeaderCellDef> Languages </th>
            <td mat-cell *matCellDef="let element"> {{element.languages}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="openDialog('Update',element)">Edit</a> |
                <a (click)="openDialog('Delete',element)">Delete</a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>