
<h2>{{title}}</h2>

<nav>
  <a class="button" routerLink="/all"routerLinkActive="activebutton">All</a>
  <a class="button" routerLink="/continents"routerLinkActive="activebutton">My continent list</a>
  <a class="button" routerLink="/countries" routerLinkActive="activebutton">My country list</a>
</nav>

<br>

<router-outlet></router-outlet>