<mat-form-field>
  <input matInput type="text" (keyup)="findCountry($event)" placeholder="Search continent">
</mat-form-field>

<table mat-table [dataSource]="dataContinentList" multiTemplateDataRows style="width: 100%;">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = dataIndex;"> {{i + 1}} </td>
  </ng-container>

  <ng-container matColumnDef="continent">
    <th mat-header-cell *matHeaderCellDef> Continent </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let element"> {{element.code}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> actions </th>
    <td mat-cell *matCellDef="let element">
      <a mat-button href="javascript:void 0" (click)="element.isExpanded = !element.isExpanded">View countries</a>
    </td>
  </ng-container>


  <!-- Template for details row -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedContinentColumnsList.length">

      <div class="row continent-element-detail">
        <mat-list>
          <div mat-subheader>NAME - CODE - PHONE - CAPITAL - CURRENCY - LANGUAGES</div>
          <mat-list-item *ngFor="let country of element.countries">
            <div mat-line>{{country.name}} - {{country.code}} - {{country.phone}}
              - {{country.capital}} - {{country.currency}} - {{country.languages}}</div>
          </mat-list-item>
        </mat-list>
      </div>

    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedContinentColumnsList;sticky: true"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedContinentColumnsList;" class="student-element-row"
    [class.student-expanded-row]="element.isExpanded"></tr>

  <!-- Extra row to show detail content column -->
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" [@detailExpand]="row.isExpanded ? 'expanded' : 'collapsed'" class="student-detail-row"></tr>

</table>